body{
    color: rgb(245, 35, 70);
    background:rgb(238, 165, 177);
    margin: 0px;
    font-family: Lakki Reddy
;
}

header {
    border-bottom: solid 2px rgb(245, 153, 171);
    padding: 15px;
    font-size: 32px;
    color: rgb(243, 159, 201);
}

section{
    background-color: rgb(240, 165, 180);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}
.chamada-texto{
    margin-right: 5%;
}